:root {
  --canvas-default-height: 150px;
  --trex-config-width: 44px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#offline-resources {
  display: none;
}

.offline .runner-container {
  position: relative;
  width: var(--trex-config-width);
  height: var(--canvas-default-height);
  overflow: hidden;
}

.offline .runner-canvas {
  z-index: 10;
  position: absolute;
  top: 0;
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  opacity: 1;
}